@use "@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables" as vac;

:host {
  #tab-root {
    cursor: pointer;

    // While this is technically "styling", white-space: nowrap; is required
    // to ensure tabs don't bunch up their text on word breaks.
    white-space: nowrap;
  }
}

:host([disabled]) {
  pointer-events: none;
}

:host(:focus-within),
:host(:focus:not(:focus-visible)) {
  position: relative;
  outline-color: unset;
  outline-style: none;
  outline-width: unset;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    width: 100%;
    height: calc(100% + var(--ds-size-50, vac.$ds-size-50));
    border: 1px solid var(--ds-color-border-active-default, vac.$ds-color-border-active-default);
    border-radius: var(--ds-border-radius, vac.$ds-border-radius);
    content: '';
    transform: translateX(-50%);
  }
}

/* stylelint-disable no-descending-specificity */
:host([onDark]:focus-within),
:host([onDark]:focus:not(:focus-visible)),
:host([appearance="inverse"]:focus-within),
:host([appearance="inverse"]:focus:not(:focus-visible)) {
  &:before {
    border-color: var(--ds-advanced-color-state-focused-inverse, v.$ds-advanced-color-state-focused-inverse);
  }
}

:host(:not([onDark]):focus-within),
:host(:not([onDark]):focus:not(:focus-visible)),
:host(:not([appearance="inverse"]):focus-within),
:host(:not([appearance="inverse"]):focus:not(:focus-visible)) {
  &:before {
    border-color: var(--ds-advanced-color-state-focused, v.$ds-advanced-color-state-focused);
  }
}
/* stylelint-enable no-descending-specificity */
