@use "@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables" as vac;

:host {
  #tab-root {
    cursor: pointer;

    // While this is technically "styling", white-space: nowrap; is required
    // to ensure tabs don't bunch up their text on word breaks.
    white-space: nowrap;
  }
}

:host([selected]) {
  // empty for now
}

:host([disabled]) {
  pointer-events: none;
}

:host(:hover) {
  // empty for now
}

:host(:focus-within),
:host(:focus:not(:focus-visible)) {
  position: relative;
  outline: none;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    width: 100%;
    height: calc(100% + var(--ds-size-50, vac.$ds-size-50));
    border: 1px solid var(--ds-color-border-active-default, vac.$ds-color-border-active-default);
    border-radius: var(--ds-border-radius, vac.$ds-border-radius);
    content: '';
    transform: translateX(-50%);
  }
}
