:host {
  padding-bottom: calc(var(--auro-size-50) - 1px);

  a {
    padding: 0 var(--auro-size-300);
    padding-bottom: calc(var(--auro-size-100) - 1px);
    border-bottom: solid 1px var(--auro-color-border-divider-on-light);
    color: var(--auro-color-ui-default-on-light);
    cursor: pointer;
    font-family: var(--auro-asset-font-circular-family-name);
    font-weight: 450;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
}

:host([selected]) {
  a {
    color: var(--auro-color-ui-active-on-light);
  }
}

:host([disabled]) {
  pointer-events: none;

  a {
    color: var(--auro-color-text-disabled-on-light);
  }
}

:host(:hover) {
  a {
    border-bottom: solid 1px var(--auro-color-border-active-on-light);
  }
}

:host(:focus-within),
:host(:focus:not(:focus-visible)) {
  border-radius: calc(var(--auro-size-50) + var(--auro-size-25));
  outline: solid 1px var(--auro-color-border-active-on-light);
  outline-offset: calc(var(--auro-size-25) + 1px);

  a {
    outline: none;
  }
}
