@import "@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";
@import "@aurodesignsystem/design-tokens/dist/tokens/SassCustomProperties";
@import "@aurodesignsystem/webcorestylesheets/src/core";
@import "@aurodesignsystem/webcorestylesheets/src/breakpoints";
@import "@aurodesignsystem/webcorestylesheets/src/fonts";
@import "@aurodesignsystem/webcorestylesheets/src/essentials";

:host {
  #tab-root {
    cursor: pointer;

    // While this is technically "styling", white-space: nowrap; is required
    // to ensure tabs don't bunch up their text on word breaks.
    white-space: nowrap;
  }
}

:host([selected]) {
  // empty for now
}

:host([disabled]) {
  pointer-events: none;
}

:host(:hover) {
  // empty for now
}

:host(:focus-within),
:host(:focus:not(:focus-visible)) {
  position: relative;
  outline: none;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    width: 100%;
    height: calc(100% + var(--ds-size-50, $ds-size-50));
    border: 1px solid var(--ds-color-border-active-default, $ds-color-border-active-default);
    border-radius: var(--ds-border-radius, $ds-border-radius);
    content: '';
    transform: translateX(-50%);
  }
}
