@import "@aurodesignsystem/webcorestylesheets/src/core";
@import "@aurodesignsystem/webcorestylesheets/src/breakpoints";

:host {
  display: block;
  width: 100%;
}

:host([hidden]) {
  display: none;
}
