/* hover style example */
.custom-tab:hover,
.custom-tab:focus-within,
.custom-tab:focus:not(:focus-visible) {
  background: #7f7f7f22;
}

/* :before renders the focus outline, modify this to match your designs */
.custom-tab:focus-within:before,
.custom-tab:focus:not(:focus-visible):before {
  border-color: #c21f39;
}

/* [selected] attribute can be used to apply styles to current tab */
.custom-tab[selected] {
  font-weight: 700;
}

.custom-tab-content {
  display: flex;

  /* explicit width important for modifying active styles */
  width: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 15px 10px;
}

#custom-tab-example::part(tabgroup__panels) {
  overflow: hidden;
  border: 1px solid #22222245;
  border-radius: 1rem;
  margin-top: 1rem;
}

#custom-tab-example::part(slider) {
  width: 20px;
  height: 5px;
  border-radius: 1rem;
  margin-top: -3px;
}

/* below code shows how to visually hide the slider */

/* #custom-tab-example::part(slider) {
  width: 0;
  height: 0;
} */

.custom-panel-wrapper {
  padding: 1rem;
}
